/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    /* max-width: 1440px; */
}

header {
    width: 100%;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 4% 8%;
    align-items: center;
}

.header-container #nav-links {
    display: flex;
    text-align: center;
}

.header-container #nav-links a {
    text-decoration: none;
    padding: 0% 3% 0% 3%;
    color: gray;
    font-size: 2vw;
}

.navbar-links a {
    position: relative;
    list-style: none;
}

#navbar-links,
a:hover {
    border-bottom: 2px solid hsl(136, 65%, 51%);
}

#navbar-links a:hover {
    color: black;
    opacity: 0.5;
    border: 2px black;
}

.icon-hamburger {
    display: none;
}

button {
    border-radius: 44px;
    border-style: none;
    font-size: 1.5rem;
    padding: 10px;
    background-image: linear-gradient(to right,
            hsl(136, 65%, 51%),
            hsl(192, 70%, 51%));
}

button:hover {
    opacity: 0.2;
}

main .hero-section {
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    overflow: hidden;
}

.hero-section .hero-details {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 50%;
    padding-top: 12vw;
}

.hero-details h1 {
    font-size: 3vw;
    line-height: 100%;
    opacity: 0.8;
    margin-bottom: 6%;
    overflow: unset;
}

.hero-details p {
    font-size: 1.5vw;
    line-height: 120%;
    margin-bottom: 6%;
    color: gray;
}

.hero-button {
    width: 58%;
}

.hero-section .hero-image {
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -18vw;
    width: 100%;
}

.image {
    width: 100%;
    transform: translate(10vw, -16vw);
}

main .features-section {
    padding: 4% 8%;
    background-color: whitesmoke;
}

.features-section h2 {
    font-size: 2.5vw;
    line-height: 100%;
    opacity: 0.8;
    margin-bottom: 6%;
    overflow: unset;
}

.features-section h3 {
    font-size: 2vw;
    line-height: 100%;
    opacity: 0.8;
    margin-bottom: 6%;
    overflow: unset;
    height: 6vw;
}

.features-section p {
    font-size: 1.5vw;
    line-height: 120%;
    margin-bottom: 6%;
    color: gray;
}

.features-section .features-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4%;
}

.features-container .feature-icon {
    margin-bottom: 10%;
}

main .articles-section {
    padding: 4% 8%;
}

.articles-section .articles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4%;
}

.article-image {
    height: 50%;
    margin-bottom: 6%;
}

.article-image img {
    height: 100%;
    width: 100%;
    margin-bottom: 6%;
    border-radius: 10px;
    border-style: none;
}

.article .articles-section h2 {
    font-size: 2.5vw;
    line-height: 100%;
    opacity: 0.8;
    margin-bottom: 6%;
    overflow: unset;
}

.articles-section h2 {
    font-size: 2.5vw;
    line-height: 100%;
    opacity: 0.8;
    margin-bottom: 6%;
    overflow: unset;
}

.articles-section h3 {
    font-size: 2vw;
    line-height: 100%;
    opacity: 0.8;
    margin-bottom: 6%;
    overflow: unset;
    height: 6vw;
}

.articles-section p {
    font-size: 1.5vw;
    line-height: 120%;
    margin-bottom: 6%;
    color: gray;
}

.articles-section h4 {
    font-size: 1.5vw;
    line-height: 120%;
    margin-bottom: 6%;
    color: gray;
    height: 3vw;
}

.article-details {
    padding-left: 4%;
}

.article {
    box-shadow: 10px whitesmoke;
}

footer {
    margin-top: 6%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(233, 26%, 24%);
    padding: 4% 8%;
    color: #fff;
}

.footer-icon {
    margin-top: 14%;
}

ul li {
    margin-bottom: 18%;
}

ul li:hover {
    color: hsl(136, 65%, 51%);
}

.footer-container button {
    margin-bottom: 12%;
}

.icon-facebook:hover {
    content: url("./images/icon-facebook\ copy.svg");
}

.icon-youtube:hover {
    content: url("./images/icon-youtube\ copy.svg");
}

.icon-instagram:hover {
    content: url("./images/icon-instagram\ copy.svg");
}

.icon-pinterest:hover {
    content: url("./images/icon-pinterest\ copy.svg");
}

.icon-twitter:hover {
    content: url("./images/icon-twitter\ copy.svg");
}

#nav-links-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .hero-button {
        width: 78%;
    }
}

@media screen and (max-width: 425px) {
    .header-container #nav-links-mobile {
        flex-direction: column;
        position: absolute;
        background-color: white;
        z-index: 100;
        top: 93px;
        left: 25%;
        padding: 5vw;
        width: 50%;
        text-align: center;
    }

    .header-container #nav-links {
        display: none;
    }

    .header-container #nav-links-mobile a {
        text-decoration: none;
        width: 100%;
        font-size: 4vw;
        margin-bottom: 4vw;
        color: gray;
    }

    .header-container #nav-links-mobile.active {
        display: flex;
    }

    .icon-hamburger {
        display: inline-block;
    }

    header button {
        display: none;
    }

    main .hero-section {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 0%;
    }

    .hero-section .hero-details {
        width: 100%;
        padding: 0vw 4vw 8vw 4vw;
        text-align: center;
    }

    button {
        align-self: center;
    }

    .hero-section .hero-image {
        background-image: url("./images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -11vw;
        background-position-y: -11vw;
    }

    .image {
        transform: translate(0px, -36vw);
        width: 100%;
        overflow: hidden;
    }

    .hero-details h1 {
        font-size: 7vw;
    }

    .hero-details p {
        font-size: 4vw;
        line-height: 120%;
    }

    button {
        border-radius: 18px;
        border-style: none;
        font-size: 3vw;
        padding: 10px;
    }

    main .features-section {
        text-align: center;
        padding: 11% 8%;
    }

    .features-section .features-container {
        display: flex;
        flex-direction: column;
    }

    main .articles-section {
        padding: 15% 8%;
    }

    .articles-section .articles-container {
        display: flex;
        flex-direction: column;
    }

    .articles-section h2 {
        font-size: 6vw;
        text-align: center;
    }

    .articles-section p {
        font-size: 4vw;
    }

    .articles-section h3 {
        font-size: 5vw;
        height: 0%;
    }

    .articles-section h4 {
        font-size: 4vw;
        height: 0%;
    }

    .features-section h3 {
        font-size: 5vw;
        height: 0%;
    }

    .features-section p {
        font-size: 4vw;
    }

    .features-section h2 {
        font-size: 6vw;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 6% 8%;
    }

    ul li {
        margin: 14% 0%;
    }
}